<div class="col">
  <div class="card shadow-sm">
    <img src="{{ itemCardapio?.imagem }}" alt="" />
    <div class="card-body">
      <p class="card-text">
        {{ itemCardapio?.descricao }}
      </p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button
            type="button"
            class="btn btn-sm btn-outline-secondary"
            (click)="addListaPedido()"
          >
            Adicionar ao pedido
          </button>
          <button
            class="btn btn-sm btn-outline-secondary"
            (click)="menosQuantidade()"
          >
            -
          </button>
          <button class="btn btn-sm btn-outline-secondary" disabled>
            {{ quantidade }}
          </button>

          <button
            class="btn btn-sm btn-outline-secondary"
            (click)="maisQuantidade()"
          >
            +
          </button>
        </div>
        <small class="text-muted">{{ itemCardapio?.preco }}</small>
      </div>
    </div>
  </div>
</div>
