<div class="pedido">
  <div
    class="modal modal-sheet position-static d-block py-5"
    tabindex="-1"
    role="dialog"
    id="modalSheet"
    *ngIf="listaItensPedido.length === 0"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content rounded-6 shadow">
        <div class="modal-header border-bottom-0">
          <h5 class="modal-title">Seu pedido está vazio!</h5>
        </div>
        <div class="modal-body py-0">
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum,
            pariatur repudiandae deserunt accusantium facere provident, iure
            rerum repellat nam, perspiciatis quia necessitatibus voluptas rem
            suscipit quaerat animi perferendis magni ullam.
          </p>
        </div>
        <div class="modal-footer flex-column border-top-0">
          <button
            type="button"
            class="btn btn-danger btn-lg btn-primary w-100 mx-0 mb-2"
            routerLink=""
          >
            Ir para o cardápio!
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="list-group">
    <div *ngFor="let item of listaItensPedido">
      <a class="list-group-item d-flex gap-3 py-3">
        <img
          src="{{ item.imagem }}"
          alt="twbs"
          width="32"
          height="32"
          class="rounded-circle flex-shrink-0"
        />
        <div class="d-flex gap-2 w-100 justify-content-between">
          <div>
            <h6 class="mb-0">{{ item.nome }}</h6>
            <p class="mb-0 opacity-75">
              {{ item.descricao }}
            </p>
          </div>

          <small class="opacity-50 text-nowrap">{{ item.preco }}</small>
          <small class="text-nowrap"
            ><button
              type="button"
              class="btn btn-sm btn-danger"
              (click)="removerItem(item)"
            >
              remover
            </button></small
          >
        </div>
      </a>
    </div>
    <br />
    <div *ngIf="listaItensPedido.length != 0">
      <a
        class="list-group-item d-flex gap-3 justify-content-around"
        aria-current="true"
        ><button class="btn btn-danger" type="button" (click)="apagarTudo()">
          Apagar lista de pedido</button
        ><button class="btn btn-success" type="button">
          Finalizar pedido
        </button></a
      >
    </div>
  </div>
</div>
