<div class="container">
  <header class="p-3">
    <div class="container">
      <div
        class="d-flex flex-wrap fixed-top align-items-center justify-content-center justify-content-lg-start"
      >
        <a
          href="/"
          class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
        >
          <img src="assets/img/pizza-slice.png" alt="imgage" width="50" />
        </a>

        <ul
          class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
          id="menuItens"
        >
          <li>
            <a href="#" class="nav-link px-2 text-secondary">NG Food</a>
          </li>
          <li><a href="#" class="nav-link px-2 text-secondary">Cardápio</a></li>
        </ul>
      </div>
    </div>
  </header>
</div>
