<!-- conteúdo -->

<div class="album py-5">
  <div class="container">
    <div class="row row justify-content-evenly row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col" *ngFor="let item of listaDeOpcoes">
        <div class="card shadow-sm">
          <img src="{{ item.imagem }}" alt="{{ item.nome }}" />
          <div class="card-body" (click)="redirecionar(item.path)">
            <p class="card-text text-center">
              {{ item.nome }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
